.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.toogle-btn {
  background: transparent;
  border: none;
  height: 30px;
}

.toogle-btn:hover {
  cursor: pointer;
}

.todo-title {
  padding: 0;
  margin: 0;
  color: white;
  letter-spacing: 7px;
  font-size: 20px;
}

@media (min-width: 992px) {
  .toogle-btn {
    height: 40px;
  }

  .todo-title {
    font-size: 30px;
  }
}
