@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

html {
  height: 100%;
}
#root {
  height: 100%;
}

.main {
  min-height: 100vh;
  padding-bottom: 3rem;
}

.container {
  position: absolute;
  /* background: red; */
  width: 90%;
  max-width: 540px;
  min-height: 85vh;
  left: 5%;
  top: 4rem;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 3rem;
}
