@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

html {
  height: 100%;
}
#root {
  height: 100%;
}

.main {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  padding: 0;
  z-index: -2;
  padding-bottom: 8rem;
}

.main-dark {
  background: hsl(235, 21%, 11%);
}

.main-light {
  background: hsl(0, 0%, 98%);
}

.container {
  position: relative;
  /* background: red; */
  width: 90%;
  max-width: 540px;
  min-height: 85vh;
  top: 4rem;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

@media (min-width: 992px) {
  .container {
    top: 5rem;
  }
}
